<mat-grid-list cols="3" class="cart-item" *ngIf="product" rowHeight="15vh">
  <mat-grid-tile >
    <app-product-thumbnail [product]="product" [alias]="alias" [imageHeight]="80" [imageWidth]="80">
    </app-product-thumbnail>
  </mat-grid-tile>
  <mat-grid-tile class="text"  class="search-content">
    <span [innerHTML]="product.name | titlecase | highLight: searchTerm : 'strong'"></span>
  </mat-grid-tile>
  <mat-grid-tile class="text" style="text-align: left;"  class="search-content">
    {{product.price | currency}}
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
