<div>
  <img src="/assets/images/banner/{{alias}}.png" alt="{{'banner-' + alias}}">
</div>
<mat-toolbar>
  <ul matSort matSortActive="price" matSortDirection="asc" matSortDisableClear>
    <li arrowPosition="after" mat-sort-header="price">
      Price
    </li>
  </ul>
</mat-toolbar>
<div class="container-products">
  
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12 product-card"
      *ngFor="let product of searchEntries.length > 0 ? searchEntries :products">
      <app-products-item [product]="product"></app-products-item>
    </div>
  </div>

  <mat-paginator #paginator
    [length]="pagination.length > paginationData.products.length ? pagination.length :  paginationData.products.length"
    [pageSize]="6" [pageSizeOptions]="[6]">
  </mat-paginator>

</div>
