mat-sidenav-container.sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 450px;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.24);
    background-color: white;

    &.sidenav-search {
      width: 350px;
    }

    &.sidenav-products {
      width: 200px;
      background-color: black;
    }
  }

  mat-sidenav-content.container-products {
    background-color: white;
    text-align: center;

      mat-grid-tile:hover {
        outline: red 1px solid;
      }

    mat-paginator {
      display: flex;
      justify-content: center;
    }
  }

  mat-grid-list,
  mat-grid-tile,
  app-products-item {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  mat-sidenav:not(.mat-drawer-opened).sidenav-products {
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    width: 60px !important;
    overflow: hidden;
    background-color: black;
  }
}

@media screen and (max-width: 660px) {
  mat-sidenav-container.sidenav-container {
    mat-sidenav {
      width: 100%;

      &.sidenav-products {
        width: 45%;
      }
    }

    mat-paginator {
      display: flex;
      justify-content: center;
    }
  }
}
