<mat-toolbar>
  <mat-list>
    <mat-list-item>
      <div class="item">
        <span class="mat-small">ORDER PLACED</span>
        <span class="mat-body">{{order.orderDate | date : "MMM d, y"}}</span>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="item">
        <span class="mat-small">TOTAL</span>
        <span class="mat-body">{{order.totalPrice | currency : "USD"}}</span>
      </div>
    </mat-list-item>
    <mat-list-item>
      <div class="item">
        <span class="mat-small">SHIP TO</span>
        <span class="mat-body">{{order.user.fillName}}</span>
      </div>
    </mat-list-item>
    <span class="spacer"></span>
    <mat-list-item></mat-list-item>
    <mat-list-item>
      <div class="item mat-body">
        <span class="mat-small">ORDER # {{order._id}}</span>
        <div>
          <span><a>View order</a> </span>
          <span class="spacer"></span>
          <span><a>View invoice</a> </span>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-toolbar>

<mat-grid-list class="order-item" cols="3" rowHeight="10vh">
  <mat-grid-tile class="mat-h1" colspan="1">
    Delivery {{order.shippingDate | date : "MMM d, y"}}
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
  </mat-grid-tile>

  <mat-grid-tile class="order-product" colspan="2" [rowspan]="order?.items.length">
    <app-order-product [items]="order?.items" [isMobile$]="isMobile$"></app-order-product>
  </mat-grid-tile>

  <mat-grid-tile cols="1">
    <button class="order-btn" mat-raised-button>Track package</button>
  </mat-grid-tile>


  <mat-grid-tile colspan="1" *ngIf="order?.items.length > 1">
    <button mat-raised-button>Problem with order</button>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" *ngIf="order?.items.length > 2">
    <button mat-raised-button>Contact us</button>
  </mat-grid-tile>

</mat-grid-list>
<mat-grid-list cols="1" rowHeight="10vh">
  <mat-grid-tile colspan="1">
  </mat-grid-tile>
</mat-grid-list>
