<div class="main">
  <div class="container">

    <mat-grid-list class="main-card mat-elevation-z1" cols="2" rowHeight="80vh">
      <mat-grid-tile *ngIf="!(isMobile$ | async)" class="left">
        <app-about></app-about>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="(isMobile$ | async) ? 2 : 1" class="right">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <mat-grid-list cols="1" rowHeight="12vh">
            <mat-grid-tile>
              <app-input [control]="registerForm.controls['firstName']" placeHolder="First Name" type="text"
                hint="your firstName" controlName="firstName">
              </app-input>
            </mat-grid-tile>

            <mat-grid-tile>
              <app-input [control]="registerForm.controls['lastName']" placeHolder="Surname" type="text"
                hint="your surname" controlName="lastName">
              </app-input>
            </mat-grid-tile>

            <mat-grid-tile>
              <app-input [control]="registerForm.controls['email']" [hint]="'an email address'" placeHolder="Email"
                type="text" controlName="email" serverErrorMode="true">
              </app-input>
            </mat-grid-tile>

            <mat-grid-tile>
              <app-input-password [control]="registerForm.controls['password']" placeHolder="Password" type="password"
                hint="your password" controlName="password" serverErrorState="false"></app-input-password>
            </mat-grid-tile>

            <mat-grid-tile>
              <app-input-password [control]="registerForm.controls['confirmPassword']"
                placeHolder="Confirmation Password" type="password" hint="confirmation password"
                controlName="confirmPassword" [serverErrorState]="false">
              </app-input-password>
            </mat-grid-tile>

            <mat-grid-tile>
              <button mat-button color="primary" type="submit" [disabled]="registerForm.invalid">Sign In</button>
            </mat-grid-tile>

          </mat-grid-list>
        </form>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</div>
