.item {
  width: 300px;
  height: 280px;
  margin: auto;
  padding-top: 15px;
  box-sizing: border-box;
  border-right: lightblue 1px solid;
}

.img-size {
  margin: auto;
  width: 200px;
  height: 180px;
}

.price {
  font-size: 20px;
}
