.img-size {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 10px;
  // padding-top: 3%;
}

mat-card {
  width: 300px;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
