@import "~src/scss/variables";

div {
  height: 91vh;
  background-image: url("/assets/images/shopPicture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

mat-horizontal-stepper {
  @include formAuth();
}

form {
  opacity: 1;
}

mat-grid-list.details {
  width: 50%;
  margin: auto;
}
