@import "~src/style/variables";

div {
  @include bg-image("/assets/images/shopPicture.jpg");
  height: 92vh;
}

form {
  @include formAuth(85vh);
  @include pos-top(3%);
  width: 90%;
}

::ng-deep div.mat-horizontal-content-container {
  height: 77.9vh;
}

mat-grid-list.details {
  width: 50%;
  margin: auto;
}
