@import "~src/style/styles";

div.container {
  @include position();
  @include pos-top(20vh);
  display: flex;
  justify-content: space-between;

  div.float-icon {
    @include box();
    @include float-shadow();
    @include icon-box();
    margin-bottom : 5%;
  }

  mat-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    margin: auto;
  }
fa-icon {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
  }

}
