@import "~src/style/styles";

mat-list {

  margin: auto;
  width: 80%;
  background-color: rgba($color: #ffffff, $alpha: 0.8);

  div.list-header {
    display: flex;
    justify-content: center;
    padding-top : 5%;
  }

  mat-list-item {
    @include float-shadow();
    margin: 5%;
    cursor: pointer;
  }

  .float-icon {
    @include box();
    @include icon-box();
  }

  mat-icon {
    width: 25px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    margin: auto;
  }
  fa-icon {
    width: 25px;
    height: 25px;
    text-align: center;
    margin: auto;
  }
}
