<div class="container">
  <div class="float-icon">
    <mat-icon>shopping_cart</mat-icon>
  </div>
  <div class="float-icon">
    <mat-icon>search</mat-icon>
  </div>
  <div class="float-icon">
    <mat-icon>sort</mat-icon>
  </div>
</div>
<div class="spacer"></div>
<div class="container">
  <div class="float-icon">
    <fa-icon [icon]="creditCard" size="2x"></fa-icon>
  </div>
  <div class="float-icon">
    <mat-icon>shopping_basket</mat-icon>
  </div>
  <div class="float-icon">
    <fa-icon [icon]="shippingFast" size="2x"></fa-icon>
  </div>
</div>