<mat-grid-list cols="1" rowHeight="15vh">
  <mat-grid-tile>
    Here you can find all the usual name brands, <br> 
    dairy, meat, deli stuff, frozen food … really, <br>
    anything you’d find in a mainstream supermarket. 
  </mat-grid-tile>
  <mat-grid-tile>
    While you can type in what you’re looking for into the search bar, you can browse by aisle, so can still kind of go
    “up and down” the ones you need, in the spirit of exploration.
  </mat-grid-tile>
  <mat-grid-tile>
    You can also sort products by price.
  </mat-grid-tile>
</mat-grid-list>