@import "src/style/variables";

@mixin background-default($height) {
  height: $height;
  width: 100%;
  margin: 0;
}


@media (min-width: size(lg)) {
  .row {
    @include background-default(92vh);
    background-image: url("/assets/images/about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: size(md)) {
  .row {
    @include background-default(93%);
    background-color: #007f88;
  }
}
