@import "src/style/variables";

@mixin background-default($height) {
  height: $height;
  width: 100%;
  margin: 0;
}

div.d-none.d-md-block {
  margin: auto;
}
.row {
  @include background-default(92vh);
  @include bg-image("/assets/images/about.jpg");
}

