mat-form-field {
  width: 300px;
  display: inline-block;

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  span.hint {
    display: flex;
    width: 100%;
    font-size: 75%;
    padding-left: 3%;
    padding-top: 1%;
  }

  mat-hint.success {
    color: green;
  }
}

