form {
  width: 100%;
  display: flex;
  justify-content: center;


  mat-form-field {
    width: 300px;
    display: inline-block;

    mat-hint {
      font-size: 110%;
    }
  }

  @media screen and (max-width: 600px) {
    mat-form-field {
      width: 80%;

      mat-hint {
        font-size: 110%;
      }
    }
  }
}
