<mat-grid-list cols="1" rowHeight="5vh">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <h1>Enter your phone number</h1>
  </mat-grid-tile>

  <form [formGroup]="phoneForm" (ngSubmit)="onSubmit()">
    <mat-grid-tile rowspan="4">

      <mat-form-field class="full-width" appearance="fill">

        <ngx-mat-intl-tel-input [onlyCountries]="['il']" [enablePlaceholder]="true" [name]="phoneForm.controls['phone']"
          [formControl]="phoneForm.controls['phone']" #phone></ngx-mat-intl-tel-input>
        <mat-error *ngIf="phoneForm.controls['phone'].errors?.required">Phone number is required</mat-error>
        <mat-error *ngIf="phoneForm.controls['phone'].errors?.pattern">Phone number is not in valid format
        </mat-error>
        <mat-error *ngIf="phoneForm.controls['phone'].errors?.serverError">{{serverError}}</mat-error>
        <mat-hint>e.g. {{phone.selectedCountry.placeHolder}}</mat-hint>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3">
      <button type="button" (click)="onSubmit()" color="primary" [disabled]="!phoneForm.valid" mat-raised-button>Get
        Code</button>
    </mat-grid-tile>
  </form>
  <mat-grid-tile>
    This code will be valid for 5 minutes
  </mat-grid-tile>
</mat-grid-list>
