<mat-grid-list [formGroup]="controlGroup" cols="2" rowHeight="100px">
  <mat-grid-tile colspan="2">
    <mat-form-field class="full-width" appearance="fill">
      <input matInput [options]="options" ngx-google-places-autocomplete #placesRef="ngx-places"
        (onAddressChange)="handleAddressChange($event)" />
      <mat-hint>{{formatAddress}}</mat-hint>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-form-field field appearance="fill">
      <mat-label>Select City:</mat-label>
      <mat-select [formControl]="controlGroup.controls['city']" [(value)]="selectedValue">
        <mat-option *ngFor="let city of cityList" [value]="city">
          {{city}}</mat-option>
      </mat-select>
      <mat-hint>Double click on the icon for auto complete</mat-hint>
      <mat-error>Please Choose an option</mat-error>
    </mat-form-field>
    <button mat-icon-button matSuffix (dblclick)="addressAutoComplete('city')">
      <mat-icon>home</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-input [control]="controlGroup.controls['street']" placeHolder="Street" type="text" controlName="street"
      required>
    </app-input>
    <button mat-icon-button matSuffix (dblclick)="addressAutoComplete('street')">
      <mat-icon>home</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="10vh">
  <mat-grid-tile>
    <button [disabled]=controlGroup.invalid mat-button matStepperNext type="button">Next</button>
  </mat-grid-tile>
</mat-grid-list>