<mat-grid-list class="address-container" [formGroup]="controlGroup" cols="1" [rowHeight]="rowHeight + 'vh'">

  <!-- city select -->
  <mat-grid-tile>
    <mat-form-field field appearance="fill">
      <mat-label>Select City:</mat-label>
      <input matInput [options]="optionsCity" ngx-google-places-autocomplete #placesRef="ngx-places"
        (onAddressChange)="handleCitySelect($event)" [formControl]="controlGroup.controls['city']" />
      <mat-icon matSuffix>place</mat-icon>
      <mat-hint>Enter city</mat-hint>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
  </mat-grid-tile>

  <!-- street select -->
  <mat-grid-tile>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Select Street:</mat-label>
      <input matInput [options]="optionsStreet" ngx-google-places-autocomplete #placesRef="ngx-places"
        (onAddressChange)="handleStreetChange($event)" [formControl]="controlGroup.controls['street']" />

      <mat-icon matSuffix>place</mat-icon>
      
      <mat-hint>Enter street</mat-hint>
      <mat-error>This field is required</mat-error>
    </mat-form-field>
  </mat-grid-tile>

</mat-grid-list>
<mat-grid-list *ngIf="user" cols="1" rowHeight="20vh">
  <mat-grid-tile>
    <button [disabled]=controlGroup.invalid  color="primary" mat-raised-button matStepperNext type="button">Next</button>
  </mat-grid-tile>
</mat-grid-list>
