<mat-toolbar appTollbar class="top">

  <ng-container *ngIf="!(isMobile | async)">
    <button type="button" mat-button routerLink="/home">
      Home
    </button>
    <span class="spacer"></span>
  </ng-container>

  <span>
    Our Grocery Store
  </span>
  <img mat-card-avatar src="assets/images/logo.jpg" class="logo" alt="logo">

  <span class="spacer"></span>

  <mat-list>
    <ng-container *ngIf="!(isMobile | async)">
      <mat-list-item *ngFor="let route of routes" (click)="onClick(route.path)">
        <button mat-stroked-button>
          <span>{{route.name}}</span>
        </button>
      </mat-list-item>
    </ng-container>
    <mat-list-item>
      <button mat-stroked-button (click)="onClick(isLogin ? 'logout' : '/auth/login')">
        <span>{{isLogin ? 'Logout' : 'Login'}}</span>
      </button>
    </mat-list-item>
  </mat-list>

</mat-toolbar>