@import "~src/style/styles";

mat-toolbar.top {
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: black;
  color: white;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  span {
    padding: 2%;
  }

  mat-list {
    display: flex;

    mat-list-item {
      button {
        // border: 0.5px solid rgba(238, 237, 237, 0.842);
        color: white;
        &:hover {
          // background-color: rgb(221, 221, 221);
        }
      }
    }
  }
}
