@import "~src/style/variables";

.main {
  background-color: white;

  app-login, app-register {
    height: 100%;
    width: 100%;
    padding-top: 10%;
    margin: auto;
  }

  app-register {
    padding-top: 3%;
  }
}

.fig {
  background-image: url("src/assets/images/2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
