@import "~src/scss/variables";

.sidenav-container {
  height: 90vh;

  .sidenav .mat-toolbar {
    background: color(info);
    color: white;
  }
}

.mat-drawer.mat-sidenav.sidenav {
  height: inherit;
}

.sidenav {
  width: 350px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.mat-sidenav-content .mat-toolbar {
  background: color(info);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;

  ul {
    z-index: 2;
    margin: 0;
  }
}

mat-divider {
  margin-left: 10px;
  margin-right: 10px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 0.5 auto;
}

.main-links > li {
  display: inline-block;
  margin-left: 1%;
}
