<mat-sidenav-container class="sidenav-container">
  <mat-sidenav appSidenavWidthDirective #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="open" position="end">
    <div *ngIf="isAdmin; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <app-products-form></app-products-form>
    </ng-template>
    <ng-template #elseBlock>
      <app-cart-list></app-cart-list>
    </ng-template>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-products-nav [drawer]="drawer"></app-products-nav>
    <mat-divider></mat-divider>
    <app-search></app-search>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>