@import "~src/style/styles";

.sidenav-container {
  height: 92vh;

  .sidenav .mat-toolbar {
    background: color(info);
    color: white;
  }
}

.mat-drawer.mat-sidenav.sidenav {
  height: inherit;
}

.mat-sidenav-content .mat-toolbar {
  background: color(info);
  width: 100%;
  background-size: contain;

  ul {
    z-index: 2;
    margin: 0;
  }
}

mat-divider {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 992px) {
  
  mat-sidenav.sidenav {
    width: 450px;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.24);
  }
}

@media screen and (max-width: 660px) {
  mat-sidenav.sidenav {
    width: 100%;
  }

  mat-sidenav.sidenav-products {
    width: 50%;
  }
}
