<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawerCart class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)" position="end">

    <div *ngIf="isAdmin; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>
      <app-products-form [drawer]="drawerCart"></app-products-form>
    </ng-template>


    <ng-template #elseBlock>
      <app-cart-list [drawer]="drawerCart"></app-cart-list>
    </ng-template>
  </mat-sidenav>

  <mat-sidenav #drawerProduct class="sidenav-products"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false" position="start">
    <app-products-nav-list></app-products-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <app-products-nav [drawerCart]="drawerCart" [drawerProduct]="drawerProduct" [isAdmin]="isAdmin"></app-products-nav>
    <mat-divider></mat-divider>
    <app-search></app-search>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>