@import "~src/style/variables";

div.row {
  height: 84vh;
  padding: 0;
  margin: 0;
}

div.col-info {
  padding: 0;
}

app-order {
  background-color: white;
}

app-cart-list,
app-order-form {
  height: 100%;
  width: 100%;
  background-color: white;
}
