@import "src/style/variables";

mat-grid-list,
mat-grid-tile,
mat-horizontal-stepper,
form,
.mat-horizontal-content-container {
  height: 100%;
  width: 100%;
}

.mat-horizontal-stepper-content {
  height: 100%;
  padding: 3%;
  display: flex;
}

div.payment {
  height: inherit;
}

@media (max-width: size(md)) {
  div.payment {
    padding: 0;
  }
}
