<mat-form-field class="full-width" appearance="fill">
  <input matInput [type]="type" [placeholder]="placeHolder" [disabled]="disabled" [formControl]="control"
    control="control" autocomplete="off" (input)="handleChange($event.target.value)" (blur)="validate()" required>
  <button *ngIf="placeHolder ==='Password'" mat-icon-button matSuffix matTooltip="Generate strong password"
    matTooltipPosition="right" (click)="pushPassword()" (mouseenter)="generatePassword()">
    <mat-icon>vpn_key</mat-icon>
  </button>
  <mat-hint *ngIf="placeHolder !== 'Password' && placeHolder !== 'Email'">
    {{control.pending ? ' verifying in database...' : 'Please enter '+ hint}}</mat-hint>
  <mat-hint *ngIf="placeHolder === 'Email' && control.untouched">Please enter valid email format : dom@gmail.com
  </mat-hint>
  <mat-hint *ngIf="placeHolder === 'Email' && control.touched">Thank you! we will mot share your email addresses with sponsors or
    any third parties</mat-hint>
  <mat-hint *ngIf="placeHolder === 'Password'">Recommended password : {{password}}</mat-hint>
  <mat-error>{{error}}</mat-error>
  <mat-error *ngIf=control.errors?.serverError>{{serverError}}</mat-error>
  <mat-error *ngIf=control.errors?.unique>This {{placeHolder.toLocaleLowerCase()}} is already in use</mat-error>
  <mat-error *ngIf=control.errors?.mustMatch>passwords are not match</mat-error>
</mat-form-field>