<mat-grid-list cols="4" *ngIf="product" rowHeight="5vh">
  <mat-grid-tile rowspan="2">
    <app-product-thumbnail [product]="product" [imageHeight]="50" [imageWidth]="50"></app-product-thumbnail>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">  
    <span [innerHTML]="product.name | highLight: searchTerm"></span>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="rowSpan" class="align-left">
    {{cartItem.totalPrice | currency}}
  </mat-grid-tile> 
  <mat-grid-tile rowspan="1" *ngIf="!orderMode">
    <button mat-icon-button (click)="deleteCartItem()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="rowSpan" class="align-left">
    {{cartItem.quantity}} units
  </mat-grid-tile>
  <mat-grid-tile rowspan="1" *ngIf="!orderMode">
    <button mat-button color="warn" (click)="updateItem()">Update</button>
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>