<!-- cart item -->
<mat-grid-list cols="4" *ngIf="cartItem" rowHeight="5vh">
  <mat-grid-tile rowspan="2">
    <app-product-thumbnail [product]="cartItem?.productRef" [alias]="alias" [imageHeight]="50" [imageWidth]="50">
    </app-product-thumbnail>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2">
    <span [innerHTML]="cartItem.productRef?.name  | titlecase | highLight: searchTerm"></span>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="orderMode ? '2' : '1'" class="align-left">
    {{cartItem.quantity * cartItem.productRef?.price| currency}}
  </mat-grid-tile>
  <mat-grid-tile rowspan="1" *ngIf="!orderMode">
    <button type="button" mat-icon-button (click)="deleteCartItem()">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="orderMode ? '2' : '1'" class="align-left">
    {{cartItem.quantity}} units
  </mat-grid-tile>
  <mat-grid-tile rowspan="1" *ngIf="!orderMode">
    <button mat-button color="warn" type="button" (click)="onUpdateClick()">Update</button>
  </mat-grid-tile>
</mat-grid-list>
<mat-divider></mat-divider>
