@import "~src/style/variables";

form {
  @include formAuth("initial");
  border-radius: 10px;
}

.mat-icon {
  font-size: 20px;
}
.header {
  padding: 2%;
  h1 {
    margin: 0;
  }
}

.btn-shopping {
  @include pos-top(10vh);
}
