<!-- navigation button to products -->
<!-- <mat-grid-list class="btn-shopping" cols="1" rowHeight="5vh" *ngIf="isLogin">
  <mat-grid-tile>
    <button *ngIf="isLogin" color="primary" mat-raised-button type="button" (click)="toProducts()">{{isCartActive ?
      'Resume Shopping' : 'Start Shopping'}}</button>
  </mat-grid-tile>
</mat-grid-list> -->
<!--
  <div cla="col-lg-6 col-md-6 col-sm-2"></div>
</div> -->


<mat-grid-list cols="3" rowHeight="91vh" >
  <mat-grid-tile colspan="2" class="main">
    <app-login-form></app-login-form>
  </mat-grid-tile>
  <mat-grid-tile  class="fig" >
  </mat-grid-tile>
</mat-grid-list>
