@import "~src/style/variables";

.main {

  // background-color: color("info");

  app-login {
    height: 100%;
    width: 100%;
    display: flex;
  }
}

.fig {
  background-image: url("src/assets/images/auth/login.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

app-google-sign-in {
  width: 100%;
  height: 100%;
  text-align: center
}


form {
  @include formAuth("initial");
  border-radius: 10px;
  width: 50vh;
}

.mat-icon {
  font-size: 20px;
}

.header {
  padding: 2%;
  margin-top: 2%;
  h1 {
    margin: 0;
  }
}

button {
  width: 200px;
  height: 40px;

  &.login {
    background-color: black;
    color: white;
  }
}

.btn-shopping {
  @include pos-top(0);
}

@media screen and (max-width: 600px) {
  form {
    width: 80%;
  }
}

