<mat-grid-list cols="3" rowHeight="91vh">

  <mat-grid-tile [colspan]="(isMobile | async) ? '3' : '2'" class="main">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-grid-list cols="1" rowHeight="8vh">
        <mat-grid-tile rowspan="2">
          <app-input [control]="loginForm.controls['email']" controlName="email" placeHolder="Email" type="email"
            loginHint="true" serverErrorMode="true" hint="a valid email format : dom@gmail.com">
          </app-input>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
          <app-input-password placeHolder="password" [control]="loginForm.controls['password']" controlName="password"
            hint="your password" serverErrorState="true" loginState="true">
          </app-input-password>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="9vh">
        <mat-grid-tile>
          <button class="login" [disabled]="loginForm.invalid" mat-raised-button
            type="submit">Login</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button color="primary" mat-raised-button type="button" (click)="onForget()">
            Forget your password ?</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>

  </mat-grid-tile>
  <!-- DISABLE ON MOBILE -->
  <mat-grid-tile *ngIf="!(isMobile | async)" class="fig">
  </mat-grid-tile>
</mat-grid-list>
