<mat-grid-list *ngIf="product" cols="1" rowHeight="6vh">
  <mat-grid-tile>
    You recently purchase :
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="(isMobile$ | async) ? '3' :'5'">
    <app-product-thumbnail [product]="product" [imageHeight]="(isMobile$ | async) ? 120 : 200"
      [imageWidth]="(isMobile$ | async) ? 120 : 200"></app-product-thumbnail>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list *ngIf="!product" cols="1" rowHeight="6vh">
  <mat-grid-tile>
    In Our Grocery You can find:
  </mat-grid-tile>
  <mat-grid-tile rowspan="5">
    <img src="/assets/images/free.png" width="250px">
  </mat-grid-tile>
</mat-grid-list>
