<!-- tool bar header - products-->

<mat-toolbar *ngIf="!orderMode">

  <button *ngIf="!(isMobile$ | async)" mat-button type="button" disableClose="true" opened="true"
    (click)="drawer.toggle()">Close</button>
  <span class="spacer"></span>
  <button mat-icon-button type="button" (click)="deleteAllCartItems()">
    <mat-icon>delete</mat-icon>
  </button>

  <button *ngIf="orderMode" mat-button type="button" (click)="backToSore()">Back to store</button>

</mat-toolbar>

<!-- end of tool bar header - products-->

<!-- tool bar header - order-->

<mat-toolbar *ngIf="orderMode">

  <!-- search input -->
    <form>
      <mat-form-field >
        <input matInput type="text" placeholder="Search in order..." [formControl]="searchControl" autocomplete="off">
        <span class="spacer"></span>
        <mat-icon>search</mat-icon>
      </mat-form-field>
    </form>


  <!-- <button mat-button type="button" (click)="drawer.toggle()">Close View</button> -->
</mat-toolbar>

<!-- end of tool bar header - order-->

<!--products list  -->
<mat-list>
  <app-cart-list-item *ngFor="let cartItem of (cart$ | async).getItems()" [cartItem]="cartItem" [orderMode]="orderMode"
    [searchTerm]="searchControl.value">
  </app-cart-list-item>
</mat-list>

<!--   footer  - products-->
<mat-grid-list *ngIf="!orderMode" cols="5" rowHeight="10vh" gutterSize="0">
  <mat-grid-tile mat-icon class="my-cart">
    <mat-icon [matBadge]="(cart$ | async).getItems().length" matBadgeColor="warn">shopping_cart</mat-icon>
  </mat-grid-tile>
  <mat-grid-tile class="my-cart" colspan="2">{{totalPrice | currency}}</mat-grid-tile>
  <mat-grid-tile class="payment" colspan="2">
    <button class="btn-payment" [disableRipple]="true" (click)="goToOrder()" mat-button>Purchase</button>
  </mat-grid-tile>
</mat-grid-list>

<!-- toll bar footer  - order-->
<mat-grid-list *ngIf="orderMode" cols="1" rowHeight="10vh" gutterSize="0">
  <mat-grid-tile class="my-cart">Total : {{totalPrice | currency}}</mat-grid-tile>
</mat-grid-list>
