@import "~src/style/variables";

.mat-toolbar {
  background: color(info);
  color: color(text);
} 

mat-nav-list {
  height: 77%;
  overflow: auto;
}

.spacer {
  flex: 1 0.5 auto;
}

.payment {
  background-color: color(info);
  height: 100%;
  font-size: 28px;
  font-weight: 500;
  border-radius: 0;
  color: color(text);
}

.my-cart {
  background-color: lightgray;
  font-size: 25px;
  color: color(text);

  mat-icon {
    font-size: 40px;
  }
}

mat-list-item {
  height: auto;
}

app-product-list-item {
  width: 100%;
  display: block;
}

.search-input {
  width: 200px;
  font-size: initial;
}
 