div.mobile {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  vertical-align: middle;

  button {
    position: absolute;
    top: 50%;
  }
}

.container {
  mat-toolbar {
    background-color: white;
  }
  padding: 2%;

  app-account-item {
    width: 100%;
    height: 100%;
  }

  
}
