<mat-grid-list cols="1" rowHeight="5vh">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
    <h1>
      Almost there...
    </h1>
  </mat-grid-tile>

  <form [formGroup]="newPassword" (ngSubmit)="onSubmit()">

    <mat-grid-tile rowspan="3">
      <app-input [control]="newPassword.controls['email']" hint="email address for authentication" controlName="email"
        placeHolder="Email" type="email" [serverErrorMode]="true">
      </app-input>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
      <app-input-password [control]="newPassword.controls['password']" placeHolder="Password" type="password"
        hint="your password" controlName="password" serverErrorState="false"></app-input-password>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
      <app-input-password [control]="newPassword.controls['confirmPassword']" placeHolder="Confirmation Password"
        type="password" hint="confirmation password" controlName="confirmPassword" serverErrorState="false">
      </app-input-password>
    </mat-grid-tile>


    <mat-grid-tile rowspan="2">
      <button [disabled]="!newPassword.valid" mat-button type="submit">Create new password!</button>
    </mat-grid-tile>
  </form>
</mat-grid-list>
