<form [formGroup]="newPassword" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="5vh">

    <mat-grid-tile *ngIf="method !== 'email'" rowspan="2">
      <app-input [control]="newPassword.controls['email']" hint="email address for authentication" controlName="email"
        placeHolder="Email" type="email" [serverErrorMode]="true">
      </app-input>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
      <app-input-password [control]="newPassword.controls['password']" placeHolder="Password" type="password"
        hint="your new password" controlName="password" serverErrorState="false"></app-input-password>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
      <button [disabled]="method === 'email' ? !newPassword.valid : !newPassword.controls['password'].valid" mat-button
        type="submit">Create new
        password!</button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
