<div class="container">
  <div>
    <h1>Online Grocery Store</h1>
  </div>
  <div>
    <p>Hi <%= name%>
    </p>
    <p>
      You recently change your password
    </p>
    <p>
      You new password is
      <strong>
        <%= code %>
      </strong>
    </p>
  </div>
  <div>
  </div>
  <div>
    <p>If this change was not done by you please notify us</p>
  </div>
</div>