<div class="container">
  <div>
    <h1>Online Grocery Store</h1>
  </div>
  <div>
    <p>Hi <%= name%>
    </p>
    <p>
      You requested for new password
    </p>
    <p>
      You confirmation code is : <%= code %>
    </p>
  </div>
  <div>

  </div>
<div>
  <p>This code will be valid for 5 minutes</p>
</div>
</div>