<mat-grid-list cols="2" rowHeight="5vh">
  <mat-grid-tile colspan="1" rowspan="2">
    <button mat-stroked-button type="button" md-button (click)="imgFileInput.click()">{{editMode ? 'Update ' :'Add '}}a
      photo</button>
    <input hidden type="file" [formControl]="control" #imgFileInput accept="image/*" />
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="3">
    <div *ngIf="preview; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <img [src]="preview" height="100px" width="100px">
    </ng-template>
    <ng-template #elseBlock>
      <app-product-thumbnail *ngIf="editMode" [product]="product" [alias]="alias" [imageHeight]="100"
        [imageWidth]="100">
      </app-product-thumbnail>
    </ng-template>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-error *ngIf="control.errors?.requiredFileType">file format is not png, jpg or jpeg</mat-error>
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <mat-error *ngIf="control.errors?.requiredFileType">file name may contain a dot</mat-error>
  </mat-grid-tile>
</mat-grid-list>