mat-toolbar {
  justify-content: center;

  .search-form {
    min-width: 150px;
    width: 80%;
    font-size: 20px;
  }

  .search-input {
    width: 100%;
  }
}

mat-option {
  background-color: white !important;
  height: inherit;
  padding: 1.5%;
  box-sizing: border-box;

  .search-image {
    float: left;
    width: 20%;
    max-height: 80px;
  }
  
  .search-content {
    float: right;
    width: 80%;
  }
}

mat-option:hover {
  border: 1px solid red;
  opacity: 0.8;
}
mat-divider {
  margin-left: 10px;
  margin-right: 10px;
}