@import "~src/style/styles";

mat-toolbar {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 80px;


  &.not-mobile {
    background-color: black;
    color: white;
  }

  &.mobile {
    position: fixed;
    z-index: 10;
    bottom: 0;
  }

  .active-link {
    border-top: color(info) solid 5px;
    color: color(info);
  }
}

@media screen and (max-width: 660px) {
  mat-toolbar {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;

    span {
      padding: 2%;
    }
  }
}
