<mat-toolbar class="not-mobile" *ngIf="!(isMobile | async)">
  <button type="button" mat-button routerLink="/home">
    Home
  </button>
  <span class="spacer"></span>
  <button type="button" mat-button>
  </button>
  <button type="button" mat-button (click)="drawer.toggle()">
    My Account
  </button>
</mat-toolbar>

<mat-toolbar class="mobile" *ngIf="isMobile | async">
  <button *ngFor="let route of routes" type="button" mat-icon-button [routerLink]="route.path">
    <mat-icon>{{route.icon}}</mat-icon>
  </button>
</mat-toolbar>
