<div class="payment">
  <form [formGroup]="orderForm">
    <mat-vertical-stepper #stepper>
      <mat-step [stepControl]="address">
        <ng-template matStepLabel>Address : Enter your home address</ng-template>
        <app-address [controlGroup]="address" [user]="user"></app-address>
        <mat-grid-list cols="1" rowHeight="5vh">
        </mat-grid-list>
      </mat-step>
      <mat-step [stepControl]="shippingDate">
        <ng-template matStepLabel>Choose date: </ng-template>
        <app-date-input [control]="shippingDate"></app-date-input>
      </mat-step>
      <mat-step [stepControl]="creditCard">
        <ng-template matStepLabel>Payment</ng-template>
        <app-credit-card [control]="creditCard"></app-credit-card>
        <mat-grid-list cols="1" rowHeight="5vh">
          <mat-grid-tile>
            <button mat-button [disabled]="orderForm.invalid" type="button" (click)="onPayment()">Confirm And
              Pay</button>
            </mat-grid-tile>
        </mat-grid-list>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>