<div class="main">
  <mat-card>
    <mat-horizontal-stepper #stepper linear>
      <mat-step #methodStep completed="false">
        <ng-template *ngIf="!(isMobile | async)" matStepLabel>Choose Method</ng-template>
        <app-reset-form title="Choose Method">
          <app-reset-method #method (next)="next(methodStep)"></app-reset-method>
        </app-reset-form>
      </mat-step>
      <mat-step #authStep completed="false">
        <ng-template *ngIf="!(isMobile | async)" matStepLabel>Authentication Details</ng-template>
        <app-reset-form title="Enter your {{method.method | titlecase}}">
          <app-reset-contact (next)="next(authStep)" [method]="method.method"></app-reset-contact>
        </app-reset-form>
      </mat-step>
      <mat-step #confirmStep completed="false">
        <ng-template *ngIf="!(isMobile | async)" matStepLabel>Confirmation Code</ng-template>
        <app-reset-form title="Enter confirmation code">
          <app-reset-confirm (next)="next(confirmStep)"></app-reset-confirm>
        </app-reset-form>
      </mat-step>
      <mat-step>
        <ng-template *ngIf="!(isMobile | async)" matStepLabel>New Password</ng-template>
        <app-reset-form title="Almost there!">
          <app-reset-new-password [method]="method.method"></app-reset-new-password>
        </app-reset-form>
      </mat-step>

    </mat-horizontal-stepper>
  </mat-card>
</div>
