mat-toolbar {
  justify-content: center;
  height: 75px;

  .search-form {
    width: 100%;
    font-size: 16px;
    // text-align: center;
    padding-top: 15px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 65%;
  }
}

.main-links > li {
  font-size: 14px;
  display: inline-block;
}

.single-autocomplete {
  justify-content: center;
}

mat-option {
  background-color: white !important;
  height: inherit;
  box-sizing: border-box;
  
  &:hover {
    border: 1px solid red;
    opacity: 0.8;
  }
}

mat-divider {
  margin-left: 10px;
  margin-right: 10px;
}
