<mat-toolbar class="search">
  <form>

    <mat-form-field>
      <mat-label>Please Enter Query</mat-label>
      <input type="text" placeholder="Search {{totalProducts$ | async}} Products..." matInput #input
        [formControl]="control" autocomplete="off" (focus)="search()">
    </mat-form-field>

    <button type="button" mat-icon-button (click)="onClear()">
      <mat-icon>clear</mat-icon>
    </button>

    <button *ngIf="(isMobile$ | async)" type="button" mat-icon-button (click)="onClose()">
      <mat-icon>navigate_next</mat-icon>
    </button>

  </form>

</mat-toolbar>

<mat-grid-list *ngIf="(searchEntries$ | async).length > 0" cols="1" [rowHeight]="(isMobile$  | async) ? '72vh' : '80vh'">
  <mat-grid-tile >
    <mat-list>
      <mat-list-item *ngFor="let option of searchEntries$ | async" (click)="onSelect(option)">
        <app-search-item [product]="option" [searchTerm]="control.value?.trim()"></app-search-item>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>

<app-search-image [isMobile$]="isMobile$" [value]="control.value" [searchEntries$]="searchEntries$">
</app-search-image>
