.product-container {
  background-color: lightgrey;
}

mat-grid-list {
  margin: auto;
  width: 97%;
  background-color: white;
}

mat-grid-tile {
  position: absolute;
  left: 50px;
  top: 100px;
  display: flex;
  flex-direction: row;
}


mat-divider {
  padding-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
