.product-container {
  background-color: lightgrey;
}

.row {
  width: 97%;
  margin: auto;
  display: flex;
  align-items: left;
  background-color: white;
}

app-products-item {
  height: 100%;
  width: inherit;
  justify-content: center;
}
