@import "variables";
@import "scrollbar";
@import "dialog";

html,
body,
.app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

mat-grid-list,
mat-grid-tile {
  height: 100%;
  width: 100%;
}

.single-autocomplete {
  justify-content: center;
  background-color: white !important;

  .mat-option {
    background-color: white !important;
    height: inherit !important;
    box-sizing: border-box;

    &:hover {
      border: 1px solid red;
      opacity: 0.8;
    }
  }
}

.spacer {
  flex: 1;
}

.grecaptcha-badge {
  z-index: 10;
}

mat-option.password > span.mat-option-text {
  display: flex;
  font-size: 12px;
  > .spacer {
    flex: 0.8;
  }
  > span.password {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
