@import "variables";
@import "scrollbar";
@import "dialog";

html,
body,
.app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

mat-grid-list,
mat-grid-tile {
  height: 100%;
  width: 100%;
}

.single-autocomplete {
  justify-content: center;
  background-color: white !important;

  .mat-option {
    background-color: white !important;
    height: inherit !important;
    box-sizing: border-box;

    &:hover {
      border: 1px solid red;
      opacity: 0.8;
    }
  }
}

.spacer {
  flex: 1;
}

mat-option.password > span.mat-option-text {
  display: flex;
  font-size: 12px;
  > .spacer {
    flex: 0.8;
  }
  > span.password {
    font-size: 14px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.grecaptcha-badge {
  // visibility: hidden;
}

mat-icon.cart > span {
  background-color: transparent;
  color: black;
}

app-input.name > mat-form-field {
  width: 145px;
}

img.logo {
  @include vertical-center();
  border-radius: 50px;
  width: 50px;
}

@media screen and (min-width: 1000px) {
  .grecaptcha-badge {
    z-index: 10;
  }
}

mat-grid-tile {
  &.order-product > figure.mat-figure {
    display: flex;
    flex-direction: column;
  }

  &.text > figure.mat-figure {
    display: flex;
    justify-content: flex-start;
  }
}

mat-toolbar.search {
  height: 10vh;
  background: rgb(132, 215, 226);
  background: linear-gradient(
    100deg,
    rgba(132, 215, 226, 1) 0%,
    rgba(166, 231, 207, 1) 100%
  );
}
