<div class="mat-elevation-z8" >

  <div class="search-bar">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #filterInput>
    </mat-form-field>
  </div>

  <mat-table matSort matSortActive="_id" matSortDirection="asc" matSortDisableClear>

    <!-- check -->
    <ng-container matColumnDef="check">
      <mat-header-cell *matHeaderCellDef>Select All</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox></mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{row._id}}
      </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{row.name ? row.name : 'not Data'}}</mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{row.category}}</mat-cell>
    </ng-container>


    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row">{{row.price | currency}}</mat-cell>
    </ng-container>

    <!-- edit -->
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Edit</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button>
          <mat-icon>create</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="pagination.pageIndex"
    [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions">
  </mat-paginator>
</div>