<div (beforeClose)="true">
  <div class="dialog-title">
    <h2 mat-dialog-title> {{product.name}} </h2>
    <button mat-dialog-close mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="dialog-content">
    <div class="dialog-image">
    <app-product-thumbnail [product]="product" [imageHeight]="350" [imageWidth]="350"></app-product-thumbnail>
  </div>
  <div class="dialog-details">
    <div iv class="dialog-text">
      {{product.price |currency}}
    </div>
    <div class="dialog-input">
      <button [disableRipple]="true" mat-icon-button>
        <mat-icon (click)="onAddQuantity()">add_circle_outline</mat-icon>
      </button>
      <mat-form-field>
        <input matInput type="number" class="input-size" name="quantity" #cartItemQuantity="ngModel"
        [(ngModel)]="cartItem.quantity">
      </mat-form-field>
      <button (click)="onRemoveQuantity()" [disableRipple]="true" mat-icon-button>
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>
    <div class="btn-add">
      <button mat-flat-button color="warn" (click)="handleRequest()">{{editMode ? 'Update Item' :'Add To Cart'}}</button>
    </div>
  </div>
</div>
</div>