.dialog-title {
  background-color: #048bf3;
  height: 9vh;
  color: white;
  font-size: 30px;
  padding: 3%;

  h2 {
    width: 90%;
    float: left;
  }
}

.dialog-content {
  background-color: white;
  margin: auto;
  width: 85%;
  position: relative;
  top: -30px;
  padding: 5%;
  border-radius: 5px;
}

.dialog-image {
  position: relative;
  top: -10px;
  right: 2%;
  width: 50%;
  float: left;
}

.dialog-text {
  font-size: 45px;
}

.dialog-input {
  padding-top: 5%;
  font-size: 25px;

  mat-icon:hover {
    color: red;
  }
}

mat-form-field {
  width: 60px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn-add {
  border-top: 1px solid #c7cbd7;
  font-size: 20px;
  padding-top: 20px;
  width: 50%;
  float: right;
}
