<div (beforeClose)="true">
  <div class="dialog-title">
    <h2 mat-dialog-title> {{product.name | titlecase}} </h2>
    <button mat-dialog-close mat-icon-button>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="dialog-content-container">
    <div *ngIf="!(isMobile$ | async)" class="dialog-content">
      <div class="dialog-image">
        <app-product-thumbnail [product]="product" [alias]="alias" [imageHeight]="params?.height"
          [imageWidth]="params?.width">
        </app-product-thumbnail>
      </div>
      <div class="dialog-details">
        <div class="dialog-info">
          <div class="dialog-text">
            {{product.price |currency}}
          </div>
          <div class="dialog-input">
            <button matPrefix [disableRipple]="true" mat-icon-button>
              <mat-icon (click)="onAddQuantity()">add_circle_outline</mat-icon>
            </button>
            <mat-form-field>
              <input matInput type="number" class="input-size" name="quantity" #cartItemQuantity="ngModel"
                [(ngModel)]="cartItem.quantity">
            </mat-form-field>units
            <button matTooltip="{{minQuantity ? 'min quantity is 1 unit' : ''}}" (click)="onRemoveQuantity()"
              [disableRipple]="true" mat-icon-button matSuffix matTooltipPosition="right">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </div>
        <mat-grid-list class="btn-action" cols="params?.cols" rowHeight="10vh">
          <mat-grid-tile>
            Total Price : {{(product.price * cartItem.quantity) | currency}}
          </mat-grid-tile>
          <mat-grid-tile>
            <button type="button" mat-flat-button color="warn" [disabled]="cartItemQuantity.invalid"
              (click)="handleRequest()">{{(editState$ |async) ? 'Update Item' :'Add To Cart'}}</button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <mat-grid-list *ngIf="(isMobile$ | async)" cols="1" rowHeight="11vh">
      <mat-grid-tile rowspan="2">
        <app-product-thumbnail [product]="product" [alias]="alias" [imageHeight]="params?.height"
          [imageWidth]="params?.width">
        </app-product-thumbnail>
      </mat-grid-tile>
      <mat-grid-tile>
        price : {{product.price |currency}}
      </mat-grid-tile>
      <mat-grid-tile>
        <button matPrefix [disableRipple]="true" mat-icon-button>
          <mat-icon (click)="onAddQuantity()">add_circle_outline</mat-icon>
        </button>
        <mat-form-field>
          <input matInput type="number" class="input-size" name="quantity" #cartItemQuantity="ngModel"
            [(ngModel)]="cartItem.quantity">
        </mat-form-field>
        <button matTooltip="{{minQuantity ? 'min quantity is 1 unit' : ''}}" (click)="onRemoveQuantity()"
          [disableRipple]="true" mat-icon-button matSuffix matTooltipPosition="right">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <!-- </div> -->
      </mat-grid-tile>
      <mat-grid-tile>
        Total Price : {{(product.price * cartItem.quantity) | currency}}
      </mat-grid-tile>
      <mat-grid-tile>
        <button type="button" mat-flat-button color="warn" [disabled]="cartItemQuantity.invalid"
          (click)="handleRequest()">{{(editState$ |async) ? 'Update Item' :'Add To Cart'}}</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
