<div class="main-image">
  <div class="container">
    <mat-grid-list cols="1" rowHeight="8vh">
      <mat-grid-tile>
        <div>
          <h2>Welcome to my Grocery Store!</h2>
        </div>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2">
        <img mat-card-avatar src="assets/images/logo_2.jpg" class="logo" alt="logo">
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <h1>Shop and save, guaranteed!</h1>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <h3> Your favorite organic & non-GMO brands at up to 50% off—delivered to your door</h3>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="6vh">
      <mat-grid-tile>
        <button mat-flat-button class="login" routerLink="/auth/login" type="button">Get Started</button>
      </mat-grid-tile>
      <mat-grid-tile>or</mat-grid-tile>
      <mat-grid-tile>
        <app-google-sign-in></app-google-sign-in>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="10vh">
      <mat-grid-tile>
        Don't have an account ? <a routerLink="/auth/register" routerLinkActive>Sign In</a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
