.mat-sidenav-container {
  height: inherit;
  background-color: gainsboro;
}

app-products-category {
  padding: 3%;
  background-color: rgba(206, 199, 199, 0.993);
}

// @media screen and (max-width: 660px) {
//   .mat-sidenav-container {
//     height: 93vh;
//   }
// }

