.sidenav-container {
  height: 100%;
}

.mat-toolbar {
  position: relative;
  top: 0;
  z-index: 10;
}


.app-search {
position: absolute;
left: 20px;
}

.spacer {
  flex: 1 0.5 auto;
}

ul {
  margin: 0;
}

.main-links > li {
  display: inline-block;
}

.welcome {
  font-size: 20px;
}
