<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z10" color="primary">
      <ul class="main-links">
        <li>
          <span>Grocery-Online</span>
        </li>
      </ul>
      <span class="spacer"></span>
      <span *ngIf="isLogin">Welcome Back! {{ user.firstName}} {{user.lastName}}</span>
      <button *ngIf="isLogin" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngIf="isLogin" (click)="onHome()" mat-menu-item>
          <span>Home</span>
        </button>
        <button *ngIf="isLogin && isAdmin" (click)="onProducts()" mat-menu-item>
          <span>Products Data</span>
        </button>
        <button *ngIf="isLogin" (click)="onLogOut()" mat-menu-item>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>