@import "src/style/variables";

.sidenav-container {
  height: 100%;
}

.mat-toolbar {
  position: relative;
  top: 0;
} 

.spacer {
  flex: 1 0.5 auto;
}

ul {
  margin: 0;
  display: flex;
  align-items: center;
  
  li {
    display: inline-block;
    padding: 2%;
  }
}

.logo {
  display: flex;
  align-items: center;
  border-radius: 50px;
  width: 50px;
}
