@import "src/style/variables";
mat-toolbar.search {
  background: rgb(132, 215, 226);
  background: linear-gradient(
    100deg,
    rgba(132, 215, 226, 1) 0%,
    rgba(166, 231, 207, 1) 100%
  );
  form {
    width: 100%;
    font-size: 14px;
    padding-top: 15px;
    text-align: center;

    mat-form-field {
      width: 90%;
    }
  }
}
