<!-- new client box -->
<div class="row" *ngIf="info?.new && !isAdmin">
  <div class="col-lg-12 col-sm-12 text-info">
    Hay There!
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 col-sm-12 text-info">
    This is your first visit in our store </div>
</div>

<!--login data box -->
<div class="row" *ngIf="isLogin && !info?.new && !isAdmin">
  <div class="col-lg-12 col-sm-12 text-info">
    Hi {{user.firstName}} {{user.lastName}} !
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 col-sm-12 text-info">
    {{info.messageDate}} : {{info.date | date:"dd/MM"}}
  </div>
  <div class="col-lg-12 col-sm-12 text-info">
    {{info.messagePrice}} : {{info.price | currency}}
  </div>
</div>

<!--products and orders box -->
<div class="row" [ngClass]="{'login-info' : isLogin}">
  <div class="col-lg-12 col-sm-12 text-info">
    Available products in our store : {{totalProducts}}
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 col-sm-12 text-info">
    Total orders submitted in our store : {{totalOrders}}
  </div>
</div>