<mat-grid-list *ngIf="!isAdmin && info?.message" class="login-info" cols="1" rowHeight="10vh">
  <mat-grid-tile>
    Hay There!
  </mat-grid-tile>
  <mat-grid-tile>
    <p>This is your first visit in our store</p>
  </mat-grid-tile>
</mat-grid-list>

<div class="row">
  <div class="col-lg-12 col-sm-12 text-info">
    Available products in our store : {{totalProducts}}
  </div>
  <mat-divider></mat-divider>
  <div class="col-lg-12 col-sm-12 text-info">
    Total orders submitted in our store : {{totalOrders}}
  </div>
</div>

<div class="row login-info" *ngIf="isLogin && !isAdmin && !info?.message">
  <div class="col-lg-12 col-sm-12 text-info">
    Hi {{user.firstName}} {{user.lastName}} !
  </div> 
  <mat-divider></mat-divider>
  <div class="col-lg-12 col-sm-12 text-info">
    {{info.messageDate}} : {{info.date | date:"dd/MM"}}
  </div>
  <div class="col-lg-12 col-sm-12 text-info">
    {{info.messagePrice}} : {{info.price | currency:"ILS"}}
  </div>
</div>