<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isMobile$ | async) ? 'over' : 'side'" [opened]="!(isMobile$ | async)">
    <app-cart-list [orderMode]="true"  [drawer]="drawer"></app-cart-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="!(isMobile$ | async)">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">shopping_cart</mat-icon>
      </button>
      <span>
      </span>
      <span class="spacer"></span>
      <button mat-button type="button" (click)="backToSore()">to store</button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
