<mat-grid-list [formGroup]="controlGroup" cols="1" rowHeight="100px">
  <mat-grid-tile>
    <app-input [control]="controlGroup.controls['personalId']" placeHolder="Personal identification number" type="text"
      hint="your personal identification number" controlName="personalId">
    </app-input>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-input [control]="controlGroup.controls['email']" [hint]="'email address'" placeHolder="Email" type="text" controlName="email">
    </app-input>
  </mat-grid-tile>  
  <mat-grid-tile>
    <app-input [control]="controlGroup.controls['password']" placeHolder="Password" type="password"
      hint="your password, or click on the icon to generate one" controlName="password">
    </app-input>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-input [control]="controlGroup.controls['confirmPassword']" placeHolder="Confirmation Password" type="password"
      hint="confirmation password" controlName="confirmPassword">
    </app-input>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="22vh">
  <mat-grid-tile>
    <button [disabled]=controlGroup.invalid mat-button matStepperNext type="button">Next</button>
  </mat-grid-tile>
</mat-grid-list>