<mat-toolbar>
  <span class="spacer"></span>
  
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawerProduct.toggle()">
    <mat-icon>{{drawerProduct.opened ? 'navigate_before' : 'navigate_next'}}</mat-icon>
  </button>
</mat-toolbar>

<mat-list>
  <mat-list-item appSidenavAdminDirective class="nav-main" *ngFor="let category of categories;  let i = index">

    <button mat-icon-button (click)="onNavigate(category)">
      <fa-icon [icon]="category.icon" size="1x"></fa-icon>
    </button>

    <ng-container *ngIf="isExpanded">
      <button mat-button (click)="onNavigate(category)" routerLinkActive="active">
        {{category.name}}
      </button>
    </ng-container>

    <mat-divider class="d-md-none"></mat-divider>
  </mat-list-item>
</mat-list>
