@import "~src/style/styles";

.mat-toolbar {
  color: black;
  height: 64px;
}

button {
  font-size: 16px;
}

@media screen and (min-width: size(lg)) {
  mat-list > .nav-main {
    margin-left: 1%;
    width: auto;

    mat-list-item {
      width: auto;
    }
  }
}

@media screen and (max-width: size(md)) {
  mat-list {

    .nav-main {
      height: 60px;
      margin-left: 0;
    }
  }
}

mat-list-item {
  &:hover {
    filter: brightness(1%);
    cursor: pointer;
  }
}


button.active-link {
  color: color(info);

  &:hover {
    color: color(info);
  }
}

