<mat-toolbar>
  <button *ngIf="!(isMobile | async)" mat-icon-button type="button" (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button *ngIf="(isMobile | async)" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawerProduct.toggle()">
    <mat-icon >navigate_before</mat-icon>
  </button>
</mat-toolbar>

<mat-list>
  <mat-list-item appSidenavAdminDirective class="nav-main" routerLinkActive="active"
    *ngFor="let category of categories;  let i = index" (click)="onNavigate(category)">

    <button *ngIf="isExpanded" mat-icon-button (click)="onNavigate(category)">
      <fa-icon [icon]="category.icon" size="1x"></fa-icon>
    </button>

    <ng-container *ngIf="!isExpanded">
      <fa-icon [icon]="category.icon" size="1x"></fa-icon>
      <button mat-button >
        {{category.name}}
      </button>
    </ng-container>

    <mat-divider class="d-md-none"></mat-divider>
  </mat-list-item>

</mat-list>
