@import "src/style/variables";

.main {
  height: 120vh;
  width: 100%;
  margin: auto;
  background-image: url("/assets/images/main.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-size: 100px;
    color: white;
    font-weight: bold;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 35px;
    }
  }
}

@mixin background-default($height) {
  height: $height;
  width: 100%;
  margin: 0;
}
