<div class="search" *ngIf="(isMobile$ | async) && (searchEntries$ | async)?.length === 0">
  <div class="img">
    <img src="https://gstatic.gitbook.com/images/7f9239ce726764aa22093884902e018d.svg" alt="">
  </div>

  <div class="text">
    <span class="text" *ngIf="(results$ |async) && (value.length >= 3)">
      No results found for query "{{value}}"
    </span>
    <span class="text" *ngIf="(results$ |async) && (value.length < 3)">
      Please enter at least 3 characters"
    </span>
  </div>
</div>
