<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer [attr.role]="(isMobile | async) ? 'dialog' : 'navigation'"
    mode="over" opened="false" position="end">
    <app-menu-account-sidenav></app-menu-account-sidenav>
  </mat-sidenav>


  <mat-sidenav-content>
    <app-menu-toolbar [drawer]="drawer" [isMobile]="isMobile" *ngIf="!(isMobile | async)"></app-menu-toolbar>
    <ng-content></ng-content>
    <app-menu-toolbar [isMobile]="isMobile" *ngIf="isMobile | async"></app-menu-toolbar>
  </mat-sidenav-content>


</mat-sidenav-container>
