@import "~src/style/styles";

.sidenav-container {
  height: inherit;

  .mat-sidenav {
    width: 110px;
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.24);
  }

  .mat-sidenav-content {
    height: inherit;
  }
}
