@import "~src/style/styles";

@mixin position($top, $right) {
  position: relative;
  top: $top;
  right: $right;
}

@mixin dialog-title($padding) {
  background-color: #048bf3;
  height: 18vh;
  color: white;
  font-size: 30px;
  padding: $padding;
}

@mixin dialog-content-container {
  width: 85%;
  padding: 5%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}

@mixin btn-action($width) {
  width: $width;
  border-top: 1px solid #c7cbd7;
  font-size: 20px;
  float: right;
}

mat-form-field {
  width: 60px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (min-width: size(lg)) {
  .dialog-title {
    @include dialog-title(3%);

    h2 {
      width: 90%;
      font-size: 30px;
      float: left;
    }
  }
  .dialog-content-container {
    @include position(-30px, 0);
    @include dialog-content-container();

    .dialog-content {
      @include position(30px, 0);
    }

    .dialog-info {
      @include position(10px, 0);
      text-align: center;
    }
  }

  .dialog-image {
    @include position(-10px, 2%);
    width: 50%;
    float: left;
  }

  .dialog-text {
    font-size: 45px;
  }

  .dialog-input {
    padding-top: 5%;
    font-size: 25px;

    mat-icon:hover {
      color: red;
    }
  }

  .btn-action {
    @include btn-action(50%);
  }
}

@media (max-width: size(md)) {
  .dialog-title {
    @include dialog-title(7%);
    padding-right: 0%;

    h2 {
      width: 80%;
      float: left;
    }
  }

  .dialog-content-container {
    @include position(-30px, 0);
    @include dialog-content-container();
    bottom: 5%;
    border-radius: 5px;

    .dialog-content {
      @include position(0, 0);
      font-size: 20px;
    }

    .dialog-info {
      @include position(80px, 0);
    }
  }

  .dialog-title {
    padding: 7%;
    padding-right: 0px;
  }

  .dialog-image {
    @include position(50px, 30%);
    width: 50%;
    float: left;
  }

  .dialog-text {
    @include position(50px, 15px);
  }

  .dialog-input {
    width: 500px;
    @include position(50px, 25px);
  }

  .btn-action {
    @include position(80px, 0px);
    @include btn-action(90%);
  }
}
