@import "~src/style/variables";

.sidenav-container {
  height: 90vh;
}

.sidenav {
  width: 450px;
  height: 90vh;
}

mat-sidenav-content {
  height: 90vh;
  overflow: hidden;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (max-width: size(md)) {

  .sidenav-container {
    height: 82vh;
  }

  .sidenav {
    width: 100%;
    height: 82vh;
  }

  mat-sidenav-content {
    height: 82vh;
    overflow: hidden;
  }
}
