<mat-toolbar>
  <form class="search-form">
    <mat-form-field class="search-input" [floatLabel]="'never'">
      <input type="text" aria-label="Number" placeholder="Search..." matInput #searchInput [matAutocomplete]="auto"
        [formControl]="searchControl">
      <mat-icon>search</mat-icon>
    </mat-form-field>
  </form>
  <mat-autocomplete class="single-autocomplete" autoActiveFirstOption #panel #auto="matAutocomplete">
    <mat-option *ngIf="searchTerm">
      No search result was found...
    </mat-option>
    <mat-option *ngFor="let option of searchEntries | async" (click)="onSelect(option)">
      <app-product-list-item [product]="option"></app-product-list-item>
    </mat-option>
  </mat-autocomplete>
</mat-toolbar>