@import "~src/style/styles";

.mat-toolbar {
  background-color: black;
  color: white;
  height: 10vh;
}

button {
  font-size: 16px;
  color: white;
}

mat-list {
  background-color: black;

  mat-list-item.nav-main {
    color: white;
    padding: 0;
  }
}

@media screen and (min-width: size(lg)) {
  mat-list > .nav-main {
    width: auto;
    margin-left: 1%;

    mat-list-item.nav-main {
      width: auto;
      color: white;
    }
  }
}

@media screen and (max-width: size(md)) {
  mat-list {
    // height: 60px;
    margin-left: 0;
  }
}

mat-list-item.nav-main {
  &:hover {
    cursor: pointer;
    color: white;
  }
}
