<mat-form-field class="full-width" appearance="fill">

  <mat-label>{{placeHolder | titlecase}}</mat-label>
  <input matInput [type]="hide ? 'password' : 'text'" [disabled]="disabled" [formControl]="control" control="control"
    autocomplete="new-password" (input)="handleChange($event.target.value)" [name]="type" (focusout)="validate()"
    required #input (focus)="onFocus()" [matAutocomplete]="auto"
    [matAutocompleteDisabled]="loginState || controlName==='confirmPassword' ? true: false">

  <button *ngIf="controlName==='password'" mat-icon-button matSuffix (click)="hide = !hide" type="button"
    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option class="password" [value]="password">
      <span>suggest strong password :</span>
      <span class="spacer"></span>
      <span class="password">{{password}}</span>
    </mat-option>
  </mat-autocomplete>

  <mat-hint *ngIf="control.invalid">{{'Please enter '+ hint}}</mat-hint>

  <!-- success hint -->
  <mat-hint *ngIf="control.valid" class="success">Good job!</mat-hint>

  <!-- shred input error -->
  <!-- <mat-error *ngIf="control.errors?.required">{{placeHolder | lowercase}} is required</mat-error> -->
  <mat-error *ngIf="error">{{error}}</mat-error>

  <!-- costume input error -->
  <mat-error *ngIf="control.errors?.serverError && serverErrorState">{{serverError}}</mat-error>
  <mat-error *ngIf=control.errors?.mustMatch>Passwords are not match</mat-error>

</mat-form-field>

<!-- <span class="hint" *ngIf="placeHolder === 'Password' && password">Recommended password : {{password}}</span> -->
