<div class="container" *ngIf="!(isMobile$ | async)">
  <mat-toolbar>
    Your Orders
  </mat-toolbar>
  <mat-toolbar *ngIf="(orders$ | async) as orders">
    <span class="text">
      {{orders.length}} orders places in
    </span>

    <!-- <select [(ngModel)]="model">
      <option *ngFor="let item of list" [value]="item">{{item}}</option>
    </select> -->

  </mat-toolbar>
  <app-order-item *ngFor="let order of (orders$ | async)" [order]="order" [isMobile$]="isMobile$"></app-order-item>

</div>

<ng-container *ngIf="(isMobile$ | async)">
  <mat-drawer-container autosize>

    <app-order-search #search [drawer]="drawer"></app-order-search>
    <mat-toolbar>
      Your Orders
    </mat-toolbar>

    <mat-drawer #drawer mode="over"  opened="false" position="end" (closedStart)="onCloseStart()">
      <app-order-search #searchOrder [drawer]="search.drawer"></app-order-search>
      <mat-list>
        <app-order-product *ngFor="let order of (orderEntries$ | async)" [items]="order.items" [isMobile$]="isMobile$"
          [date]="order.shippingDate">
        </app-order-product>
      </mat-list>
      <app-search-image [isMobile$]="isMobile$"  [searchEntries$]="orderEntries$" [value]="searchOrder.searchControl.value">
      </app-search-image>
    </mat-drawer>

    <mat-list>
      <app-order-product *ngFor="let order of (orders$ | async)" [items]="order.items" [isMobile$]="isMobile$"
        [date]="order.shippingDate">
      </app-order-product>
    </mat-list>

  </mat-drawer-container>
</ng-container>
