<form (ngSubmit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="5vh">
    <mat-grid-tile rowspan="4">

      <ng-container [ngSwitch]="method">

        <!-- Email input -->
        <ng-container *ngSwitchCase="'email'">
          <mat-form-field class="full-width" appearance="fill">
            <input matInput type="text" placeholder="Enter your email" [formControl]="control" name="control"
              autocomplete="off" required>
            <mat-error *ngIf="control.errors?.required">Email is required</mat-error>
            <mat-error *ngIf="control.errors?.pattern">Email is not in valid format
            </mat-error>
            <mat-error *ngIf="control.errors?.serverError">{{serverError}}</mat-error>
            <mat-hint>Enter your email</mat-hint>
          </mat-form-field>
        </ng-container>

        <!-- Phone input -->
        <ng-container *ngSwitchCase="'phone'">
          <mat-form-field class="full-width" appearance="fill">
            <ngx-mat-intl-tel-input [onlyCountries]="['il']" [enablePlaceholder]="true" [name]="control"
              [formControl]="control" #phone>
            </ngx-mat-intl-tel-input>
            <mat-error *ngIf="control.errors?.required">Phone number is required</mat-error>
            <mat-error *ngIf="control.errors?.pattern">Phone number is not in valid format
            </mat-error>
            <mat-hint>e.g. {{phone.selectedCountry.placeHolder}}</mat-hint>
            <mat-error *ngIf="control.errors?.serverError">{{serverError}}</mat-error>
          </mat-form-field>
        </ng-container>

      </ng-container>

    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
      <button type="button" (click)="onSubmit()" color="primary" [disabled]="!control?.valid" mat-raised-button>Get
        Code</button>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1">
      This code will be valid for 5 minutes
    </mat-grid-tile>
  </mat-grid-list>
</form>
