@import "~src/style/styles";


mat-list > mat-list-item {
  display: inline-block;
  margin-left: 1%;
  width: auto;
  color: white;
  
  button {
    font-size: 16px;
  }
}


@media (max-width: size(md)) {
  mat-list > mat-list-item {
    display: initial;
    height: 60px;
    margin-left: 0;
    width: auto;
    color: black;
  }
}
