@import "~src/style/styles";

button {
  font-size: 16px;
}

@media screen and (min-width: size(lg)) {
  mat-list > .nav-main {
    display: inline-block;
    margin-left: 1%;
    width: auto;
  }
}

@media screen and (max-width: size(md)) {
  mat-list > .nav-main {
    display: initial;
    height: 60px;
    margin-left: 0;
  }
}
