<mat-toolbar appBarBackgroundColor>
  <span class="spacer"></span>
  <button mat-button type="button" (click)="onAddProduct()">Add Product
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="formMode; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <form [formGroup]="productForm">

    <mat-grid-list cols="2" rowHeight="15vh">
      <mat-grid-tile>
        <app-input type="text" [control]="name" placeHolder="Name" hint="product name"></app-input>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-input type="number" [control]="price" placeHolder="Price" hint="product price"></app-input>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field field appearance="fill">
          <mat-label>Select Category:</mat-label>
          <mat-select [formControl]="category" [(value)]="selectedValue">
            <mat-option *ngFor="let category of categories" [value]="category._id">
              {{category.name}}</mat-option>
          </mat-select>
          <mat-error>Please Choose an option</mat-error>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <app-upload-input [control]="imagePath" [product]="product" (image)="handleImage($event)"></app-upload-input>
    <mat-grid-list cols="1" rowHeight="15vh">
      <mat-grid-tile>
        <button (click)="handleRequest()" color="warn" [disabled]="productForm.invalid"
          mat-raised-button>{{editMode ? 'Update Product' :'Add Product'}}</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</ng-template>
<ng-template #elseBlock>
  <mat-grid-list cols="1" rowHeight="15vh">
    <mat-grid-tile>
      To Update a product click on any item
    </mat-grid-tile>
    <mat-grid-tile>
      To Add A product click on the + icon
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>