@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$colors: (
  info: #5bc0de,
  text : #ffffff
);

@function color($color-name) {
  @return map-get($colors, $color-name);
};
 
// $info-color: #5bc0de;
