@import "variables";
 

html,
body,
.app-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

::ng-deep .mat-button-base,
.mat-button :focus,
button {
  outline: transparent;
}

::ng-deep .mat-form-field {
  display: block;
}

.info {
  color: white;
  background-color: #5bc0de;
  outline: transparent;
}

.success {
  color: white;
  background-color: #5cb85c;
  outline: transparent;
}

.dialog-spinner .mat-dialog-container {
  box-shadow: none;
  margin: auto;
  background-color: transparent;
  padding: initial;
  z-index: 5;
  overflow: hidden;
}

.dialog-error .mat-dialog-container {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  box-shadow: none;
  z-index: 10;
  overflow: hidden;
}

.dialog-product .mat-dialog-container {
  color: black;
  padding: 0;
  overflow: hidden;
  box-shadow: initial;
}

.dialog-order .mat-dialog-container {
  color: white;
  text-align: center;
  overflow: hidden;
  background-color: #47aa3e;
  border-radius: 5px;
}


::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  width: 5px;
  height: 20px;
  background-color: white;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 15px;
  width: 15px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: grey;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
