<div [ngSwitch]="data.type">
    <div *ngSwitchCase="'error'">
        <div>
            <p>
                Message: {{data.payload.message}}
            </p>
            <p *ngIf="data.payload.status && !development">
                Status: {{data.payload.status}}
            </p>
        </div>
        <div mat-dialog-actions>
            <button mat-dialog-close mat-button cdkFocusInitial>Ok</button>
        </div>
    </div>

    <mat-spinner *ngSwitchCase="'spinner'"></mat-spinner>
</div>