.members {
  background-color: white;
  height: 75vh;

  .container {
    text-align: center;
    height: 100px;

    .title {
      height: 120px;
      display: flex;
      justify-content: center;
      vertical-align: middle;

      h1 {
        margin: 0;
        font-size: 50px;
        opacity: 0;

        &.fade-up {
          animation: fade-up 1s;
          opacity: 1;
        }
      }
    }
  }
}

.row {
  display: flex;
  justify-content: space-between;
  height: 300px;

  div {
    text-align: center;
    width: 300px;
    height: 300px;
  }
}

@keyframes fade-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
