.members {
  background-color: white;
  height: 65vh;

  .container {
    text-align: center;
    height: 100px;

    .title {
      height: 85px;
      display: flex;
      justify-content: center;
      vertical-align: middle;

      h1 {
        margin: 0;
        font-size: 50px;
        opacity: 0;

        &.fade-up {
          animation: fade-up 1s;
          opacity: 1;
        }
      }

      @media screen and (max-width: 600px) {
        h1 {
          font-size: 35px;
        }
      }
    }
  }
}

@keyframes fade-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .members {
    height: 80vh;
  }
}
